.left-container {
	width: 200px;
	box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.63);
	background: #182132;
	color: white;
}

.left-container-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 22px;
	font-weight: 500;
	border-bottom: solid 2px #474957;
	padding-bottom: 16px;
}

.hamburger-menu {
	width: 10px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	display: flex;
	align-items: flex-start;
	background: #182132;
	justify-content: center;
}

.bars {
	color: white;
}

.left-container-user-profile-wrapper {
	padding: 16px 0;
	font-weight: 400;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 2px #474957;
}

.avatar-img {
	background: white;
	border-radius: 50%;
}
