.card-container {
	position: relative;
	background: #eff7ff;
	flex-direction: column;
	border-radius: 6px;
	margin: 20px;
	height: 100%;
}

.card-heading-wrapper {
	border-bottom: solid 1px grey;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 30px;
}

.card-body-wrapper {
	height: calc(100% - 60px);
	overflow-y: auto;
}

.icons-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.minimize-icon {
	margin: 0 5px;
	font-size: 28px;
}

.close-icon {
	margin: 0 5px;
}

.team-members {
	width: 30%;
	height: 40%;
}

.hide-card {
	height: 0;
}
