.card-container {
	position: relative;
	background: white;
	flex-direction: column;
	margin: 20px 10px;
	border-radius: 6px;
}

.card-heading-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	background: #182132;
	color: white;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.card-body-wrapper {
	height: calc(100% - 60px);
	overflow-y: auto;
}

.icons-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.minimize-icon {
	margin: 0 5px;
	font-size: 28px;
}

.close-icon {
	margin: 0 5px;
}

.minimize-icon:hover,
.close-icon:hover,
.arrow-icon:hover {
	opacity: 0.7;
}

.team-members {
	height: 200px;
}

.hide {
	height: 0;
}

.arrow-icon {
	transform: rotate(45deg);
}

.sub-containers {
	width: 50%;
	height: 100%;
}

@media all and (max-width: 1023px) {
	.sub-containers {
		width: 100%;
	}
}
