/* Sets up default style behavior */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div,
span {
	box-sizing: border-box;
}

@media all and (max-width: 1023px) {
	body {
		font-size: 16px;
	}
}

@media all and (max-width: 567px) {
	body {
		font-size: 14px;
	}
}
